@page "/EpisodeTracker/delete/{EpisodetrackerId:int}"

@inject IEpisodeTrackerServices _episodeServices
@inject IAnimeServices _animeServices
@inject NavigationManager _navManager

<h3>Delete an Episode Tracker</h3>
<h4 class="text-danger">Are you sure you want to delete this episode tracker?: </h4>

@if (episodeTrackerDetail is null)
{
    <p class="text-warning">Sorry, there isn't any available info.</p>
}
else
{
    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>Episode Tracker #@episodeTrackerDetail.Id</span>
            </div>
            <div class="card-body">
                <h4 class="card-title">@animeDetail.Name</h4>
                <p class="text-muted">@animeDetail.Description</p>
                <img src="@animeDetail.Poster" width="300" height="300">
                <p class="text-muted">Number of Seasons: @animeDetail.NumOfSeasons</p>
                <p class="text-muted">Average Rating: @animeDetail.AverageScore</p>
                <hr />
                <p class="text-muted">Number of Episodes: @episodeTrackerDetail.TotalEpisodes</p>
                <p class="text-muted">Current Episode: @episodeTrackerDetail.CurrentEpisode</p>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <span class="text-left">Release Date: @animeDetail.ReleaseDate</span>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <div class="text-center justify-content-between w-25">
                <a href="/EpisodeTracker/EditTotalEpisodes/@episodeTrackerDetail.Id" class="btn btn-outline-warning">Edit Episode Total</a>
                <a href="/EpisodeTracker/EditCurrentEpisodes/@episodeTrackerDetail.Id" class="btn btn-outline-warning">Update Current Episode</a>
                <a href="/EpisodeTracker" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </div>
    </div>

    <EditForm Model="@episodeTrackerDetail" OnValidSubmit="@DeleteEpisodeTracker">
        <button type="submit" class="btn btn-danger m-3">Delete</button>
    </EditForm>
}

@code {
    [Parameter]
    public int EpisodeTrackerId { get; set; }

    public EpisodeTrackerDetail? episodeTrackerDetail { get; set; }
    public AnimeDetail? animeDetail { get; set; }
    private string? errorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        episodeTrackerDetail = await _episodeServices.GetEpisodeTracker(EpisodeTrackerId);
        animeDetail = await _animeServices.GetAnime(episodeTrackerDetail.AnimeId);
    }

    public async Task DeleteEpisodeTracker()
    {
        var isSuccess = await _episodeServices.DeleteEpisodeTracker(EpisodeTrackerId);
        if (isSuccess)
            _navManager.NavigateTo("/EpisodeTracker");
        else
            errorMessage = "Deletion Failed";
    }
}
