@page "/rating/create"

@inject IRatingServices _ratingServices
@inject IAnimeServices _animeServices
@inject NavigationManager _navManager

<h3>Create</h3>
<hr/>

@if(errorMessage != null)
{
    <h5 class="text-danger">@errorMessage</h5>
}
else
{
    <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="form-group">
            <label>Title: </label>
            <InputText class="form-control" @bind-Value="model.Title"/>
        </div>
        <div class="form-group">
            <label>Comment: </label>
            <InputTextArea class="form-control" @bind-Value="model.Comment"/>
        </div>
        <div class="form-group">
            <label>Score out of 10: </label>
            <InputNumber class="form-control" @bind-Value="model.Score"/>
        </div>
        @if(Animes == null)
        {
            <p>No Available Animes</p>
        }
        else
        {
            <InputSelect @bind-Value="model.AnimeId"class="form-select">
                <option value="0" disabled="disabled" selected>== Select an Anime ==</option>
                @foreach (var anime in Animes)
                {
                    <option value="@anime.Id">@anime.Name</option>
                }
            </InputSelect>
        }
        @if (model.Score > 10)
            model.Score = 10;
        @if (model.Score < 0)
            model.Score = 0;
        <button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>
    </EditForm>
}

@code {
    private RatingCreate model = new();

    private List<AnimeListItem>? Animes;

    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        Animes = await _animeServices.GetAnimes();
    }

    public async Task HandleSubmit()
    {
        var isSuccess = await _ratingServices.CreateRating(model);
        if (isSuccess)
            _navManager.NavigateTo("/rating");
        else
            errorMessage = "Sorry, could not create your rating at this time.";
    }
}
